{% extends 'base.html.twig' %}

{% block title %}Erreur de génération PDF{% endblock %}

{% block body %}
<div class="container-fluid mt-4">
    <div class="alert alert-danger">
        <h4 class="alert-heading">Erreur lors de la génération du PDF</h4>
        <p>Une erreur est survenue lors de la génération du PDF pour le bon n°{{ bon_numero }} :</p>
        <hr>
        <p class="mb-0">{{ error }}</p>
    </div>
    
    <div class="mt-4">
        <a href="{{ path('app_bon_show', {'id': bon_id}) }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Retourner au bon
        </a>
        <a href="{{ path('app_bon') }}" class="btn btn-primary">
            <i class="fas fa-list"></i> Liste des bons
        </a>
    </div>
</div>
{% endblock %}
