<div class="d-flex">
    <a href="{{ path('app_bon_show', {'id': bon.id}) }}" class="btn btn-sm btn-outline-dark me-1" title="Afficher">
        <i class="bi bi-eye"></i>
    </a>
    <a href="{{ path('app_bon_edit', {'id': bon.id}) }}" class="btn btn-sm btn-outline-primary me-1" title="Modifier">
        <i class="bi bi-pencil"></i>
    </a>
</div>
